<div class="productos-container">
    <div *ngFor="let producto of productos" class="producto">
        <img width="200" height="200" [src]="producto.imagenes" alt="{{ producto.nombre }}" class="producto__imagen">
        <h3 class="producto__nombre">{{ producto.nombre }}</h3>
        <p class="producto__precio">{{ producto.precio | currency }}</p>
        <button 
            class="producto__button"
            (click)="addToCart(producto)"
        >
            Agregar
        </button>
    </div>
</div>